/* 크롬 기준 화면 크기 90퍼센트, f11 하면 스크롤바 없어짐*/
html,body,main{
    height : 99%;
    width: 99%;
}
main{
    position: fixed;
    overflow: hidden;
}
*{
    box-sizing: border-box;
    /* font-family: 'Nanum Gothic Coding', monospace; */
}
/* 왼쪽 */
#left_part{
    /* border: 1px solid #ddd; */
    /* border-right: 2px solid #ddd; */
    /* box-shadow: 10px 0px 5px -2px #ebebeb ; */
    width : 30%;
    height : 750px;
    float : left;
    margin-top: 30px;
}
.left_div{
    width : 96%;
    height : 32%;
    /* border: 1px solid #ddd; */
    margin : 10px;
    padding : 2%

}
.left_hr{
    width: 85%;
    background : #ddd;
    height:1px;
    border:0;
}
.left_title{
    text-align: left;
    margin : 3%;
    width: auto;
    padding: 2%;
    margin-bottom: 2%;
    border-radius: 4px;
    background-color: #ddd; 
}
.left_content{
    /* border: 1px solid #ddd; */
    width : 90%;
    height: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    padding-inline-start: 2%;
}
.left_text{
    line-height: 15px;
    text-align: left;
    font-size: 14px;
    /* list-style-position: inside; */
    padding-left: 19px;
    padding-right: 4px;
}
.left_text  > li{
    margin : 0 0 2px -5px;;
}
/* 오른쪽 */
#right_part{
    width : 69%;
    height : 750px;
    float : right;
    overflow: hidden;
    margin-top: 30px;
}
/* 시계 */
#clock{
    width : 100%;
    height : auto;
    border: 1px solid #ddd;
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    float : right;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th{
    background-color: #f2f2f2;
}
/* 오른쪽 위 */
.location{
    width : 48%;
    height : 40px;
}
#facility{
    height : 50px;
}
.facility_name{
    font-size: 15px;
    font-weight: bold;
    height : 80%;
    display: inline-block;
}
.facility_info{
    color: grey;
    font-size: 12px;
    height : 80%;
    display: inline-block;
}
/* 사용 여부 */
.state{
    width: 40%;
    display: grid;
    padding: 5px;
    border-radius: 10px; 
    margin: auto;
    font-size: 12px;
    text-align: center;
}
.occupied{
    color: #eb1c34;
    background-color: rgba(240, 20,55, 0.3);
}
.available{
    color: #115cc4;
    background-color: rgba(2, 135, 197, 0.3); 
}

/* 타임라인 */
.timeline{
    width : 4%;
}
.hour{
    font-size:12px;
    padding : 0px;
    height : 36px;
}
/* 예약 요소*/
.time_division{
    border : dashed #eeebeb;
    border-width: 0 0 1px 0;
    height: 36px;
    left: -18%;
    width: 420%;
    position: absolute;
    z-index: 100;
}
.time_division.time_division::border{
    z-index:-1;
}
.time_table{
    position: relative;
    padding : 0;
}
.reserv_element{
    /* top : 36px;
    height : 72px; */
    left : 3%;
    width : 97%;
    position: absolute;
    text-align: left;
    font-size: 13.5px;
    line-height: 15px;
    padding: 5px;
    overflow : hidden;
}
.reserv_element_deco{
    /* top : 36px;
    height : 72px; */
    left : 1%;
    width : 2%;
    position: absolute;
    border-radius: 4px 0px 0px 4px;
}

/* footer */
footer{
    width : 99%;
    height: auto;
    position : absolute;
    bottom : 0; 
    border: 1px solid #ddd;
    padding: 11px;
    text-align: center;
    background-color: grey;
    color: white;
}
.footer_font{
    margin : auto;
}
p {
    line-height: 1px;
    font-size: 16px;
}
#us_space_rule li {
    font-size: 15px;
}
#notice_cse li {
    font-size: 15px;
}
#notice_selon li {
    font-size: 15px;
}
